@charset "UTF-8";
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 25px 18px 35px;
}

.header_temperature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 175px;
  height: 58px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(6.75%, #FFFFFF), to(#DADADA)), #C4C4C4;
  background: linear-gradient(180deg, #FFFFFF 6.75%, #DADADA 100%), #C4C4C4;
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
}

.header_temperature:hover {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(6.75%, #FFFFFF), to(#DADADA)), #C4C4C4;
  background: linear-gradient(0deg, #FFFFFF 6.75%, #DADADA 100%), #C4C4C4;
}

.header_temperature_label {
  width: 61px;
  height: 20px;
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 103.19%;
  text-align: center;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

.header_temperature_output {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 89px;
  height: 30px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(6.75%, #FFFFFF), to(#DADADA)), #C4C4C4;
  background: linear-gradient(180deg, #FFFFFF 6.75%, #DADADA 100%), #C4C4C4;
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25), inset 0px 2px 4px #626262;
          box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25), inset 0px 2px 4px #626262;
}

.header_temperature_output_dynamic-txt {
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #000000;
  padding: 2px 0 0;
}

.header_temperature_output_static-txt {
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

.header_title {
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  max-width: 500px;
  font-size: 28.5px;
  line-height: 103.19%;
  text-align: center;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  margin: 0 0 0 -80px;
}

.main-panel {
  width: 1430px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-panel_wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 58px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 18px 0 30px;
  margin: 0 0 20px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(6.75%, #FFFFFF), to(#DADADA)), #C4C4C4;
  background: linear-gradient(180deg, #FFFFFF 6.75%, #DADADA 100%), #C4C4C4;
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
}

.main-panel_wrap:hover {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(6.75%, #FFFFFF), to(#DADADA)), #C4C4C4;
  background: linear-gradient(0deg, #FFFFFF 6.75%, #DADADA 100%), #C4C4C4;
}

.main-panel_wrap:first-child::before {
  content: "ПВУ1 (Зал)";
  top: -13px;
  position: absolute;
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 103.19%;
  letter-spacing: -0.02em;
  color: #000000;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

.main-panel_wrap:nth-child(2)::before {
  content: "ПВУ2 (Тех. помещения)";
  top: -13px;
  position: absolute;
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 103.19%;
  letter-spacing: -0.02em;
  color: #000000;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

.main-panel_wrap_anim-box {
  width: 54px;
  height: 54px;
}

.main-panel_wrap_txt {
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 103.19%;
  text-align: center;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

.main-panel_wrap_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 55px;
}

.main-panel_wrap_column_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-panel_wrap_column_wrap:first-child {
  margin: 0 0 5px;
}

.main-panel_wrap_column_wrap_label {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  min-width: 27px;
  margin: 0 9px 0 0;
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 103.19%;
  text-align: center;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

.main-panel_wrap_column_wrap_small-label {
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 103.19%;
  letter-spacing: -0.005em;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  padding: 0 5px 0 0;
}

.main-panel_wrap_column_wrap_output {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 70px;
  height: 23px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(6.75%, #FFFFFF), to(#DADADA)), #C4C4C4;
  background: linear-gradient(180deg, #FFFFFF 6.75%, #DADADA 100%), #C4C4C4;
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25), inset 0px 4px 4px #626262;
          box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25), inset 0px 4px 4px #626262;
}

.main-panel_wrap_column_wrap_output_dynamic-txt {
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  padding: 4px 0 0;
  margin: 0 auto;
}

.main-panel_wrap_column_wrap_output_static-txt {
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  padding: 0 5px 0 0;
}

.main-panel_wrap_column_wrap_output_timer {
  text-align: center;
  width: 15px;
}

.main-panel_wrap_column_wrap_output_option-txt {
  text-align: center;
  min-width: 90px;
}

.main-panel_pvu3 {
  width: 410px;
  position: relative;
  margin-right: 13px;
  padding: 0 6px 0 30px;
}

.main-panel_pvu3::before {
  position: absolute;
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 103.19%;
  letter-spacing: -0.02em;
  color: #000000;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  content: "ПВУ3 (ЦХМ)";
  top: -13px;
}

.main-panel_lavatory {
  width: 250px;
  position: relative;
  margin-right: 13px;
  padding: 2px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-panel_lavatory::before {
  position: absolute;
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 103.19%;
  letter-spacing: -0.02em;
  color: #000000;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  content: "Санузлы";
  top: -13px;
}

.main-panel_bakery {
  width: 300px;
  position: relative;
  padding: 2px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 13px;
}

.main-panel_bakery::before {
  position: absolute;
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 103.19%;
  letter-spacing: -0.02em;
  color: #000000;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  content: "Пекарня";
  top: -13px;
}

.main-panel_bakery_timer {
  position: relative;
}

.main-panel_bakery_timer::before {
  position: absolute;
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 103.19%;
  letter-spacing: -0.02em;
  color: #000000;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  content: "Таймер День";
  top: -13px;
  right: 5px;
}

.main-panel_debarkader {
  width: 395px;
  position: relative;
  padding: 2px 18px 2px 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-panel_debarkader::before {
  position: absolute;
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 103.19%;
  letter-spacing: -0.02em;
  color: #000000;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  content: "Завеса дебаркадер";
  top: -13px;
  left: 10px;
}

.main-panel_debarkader_anim-box {
  width: 92px;
  height: 55px;
}

.main-panel_volcanoes {
  width: 717px;
  margin-right: 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 13px 0 30px;
}

.main-panel_volcanoes::before {
  position: absolute;
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 103.19%;
  letter-spacing: -0.02em;
  color: #000000;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  content: "Вулканы";
  top: -13px;
}

.main-panel_server-room {
  width: 700px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-panel_server-room::before {
  position: absolute;
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 103.19%;
  letter-spacing: -0.02em;
  color: #000000;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  content: "Серверная";
  top: -13px;
  left: 10px;
}

.main-panel_server-room_column {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-panel_server-room_column_label {
  -ms-flex-item-align: unset;
      -ms-grid-row-align: unset;
      align-self: unset;
}

.main-panel_cassettes {
  width: 717px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 13px;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
}

.main-panel_cassettes_anim-box {
  margin: 0 5px 0 0;
}

.main-panel_cassettes_anim-box:first-child::before {
  position: absolute;
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 103.19%;
  letter-spacing: -0.02em;
  color: #000000;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  content: "Зона 1 овощи фрукты";
  top: -13px;
}

.main-panel_cassettes_anim-box:nth-child(4)::before {
  position: absolute;
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 103.19%;
  letter-spacing: -0.02em;
  color: #000000;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  content: "Зона 2 кассы";
  top: -13px;
}

.main-panel_cassettes_anim-box:nth-child(7)::before {
  position: absolute;
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 103.19%;
  letter-spacing: -0.02em;
  color: #000000;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  content: "Зона 3 кассы";
  top: -13px;
}

.main-panel_cassettes_txt {
  margin: 0 5px 0 0;
}

.main-panel_cassettes_column {
  margin: 0 12px 0 0;
}

.main-panel_cassettes_column_wrap_label {
  margin: 0 5px 0 0;
}

.main-panel_boiler-room {
  width: 700px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 18px 0 10px;
}

.main-panel_boiler-room::before {
  position: absolute;
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 103.19%;
  letter-spacing: -0.02em;
  color: #000000;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  content: "Котельная";
  top: -13px;
}

.main-panel_electricity {
  width: 717px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 13px;
}

.main-panel_electricity_txt {
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 121.69%;
  letter-spacing: 0.025em;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  max-width: 148px;
}

.main-panel_electricity_column_wrap_output {
  width: 175px;
}

.main-panel_water {
  width: 400px;
  margin-right: 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-panel_water_anim {
  margin-right: 27px;
}

.main-panel_water_txt {
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 121.69%;
  letter-spacing: 0.025em;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  max-width: 148px;
}

.main-panel_water_column_wrap_output {
  width: 175px;
}

.main-panel_ibp {
  width: 145px;
  margin-right: 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-panel_ibp_txt {
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 121.69%;
  letter-spacing: 0.025em;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  max-width: 148px;
}

.main-panel_log {
  width: 128px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px 20px 0;
}

.main-panel_log_txt {
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 121.69%;
  letter-spacing: 0.025em;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  max-width: 148px;
}

.sub-txt {
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 103.19%;
  color: #000000;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

.timer1 {
  position: relative;
}

.timer1::before {
  position: absolute;
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 103.19%;
  letter-spacing: -0.02em;
  color: #000000;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  content: "Таймер №1";
  top: -13px;
  right: 10px;
}

.timer2 {
  position: relative;
}

.timer2::before {
  position: absolute;
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 103.19%;
  letter-spacing: -0.02em;
  color: #000000;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  content: "Таймер №2";
  top: -13px;
  right: 10px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1430px;
  margin: 210px auto 0;
  padding: 20px 165px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(6.75%, #FFFFFF), to(#DADADA)), #C4C4C4;
  background: linear-gradient(180deg, #FFFFFF 6.75%, #DADADA 100%), #C4C4C4;
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
}

.footer_status {
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  padding: 6px 15px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(6.75%, #FFFFFF), to(#DADADA)), #C4C4C4;
  background: linear-gradient(180deg, #FFFFFF 6.75%, #DADADA 100%), #C4C4C4;
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
}

.footer_status:hover {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(6.75%, #FFFFFF), to(#DADADA)), #C4C4C4;
  background: linear-gradient(0deg, #FFFFFF 6.75%, #DADADA 100%), #C4C4C4;
}

.footer_status_txt {
  margin: 0 5px 0 0;
}

.footer_status_dynamic-txt {
  margin: 0 30px 0 0;
}

.footer_status_dynamic-txt:last-child {
  margin: 0;
}

.footer_finish-btn {
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  outline: none;
  border: none;
  cursor: pointer;
  width: 150px;
  height: 25px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(6.75%, #FFFFFF), to(#DADADA)), #C4C4C4;
  background: linear-gradient(180deg, #FFFFFF 6.75%, #DADADA 100%), #C4C4C4;
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
}

.footer_finish-btn:hover {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(6.75%, #FFFFFF), to(#DADADA)), #C4C4C4;
  background: linear-gradient(0deg, #FFFFFF 6.75%, #DADADA 100%), #C4C4C4;
}

.counters-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.counters-panel_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 510px;
  padding: 5px 20px;
  margin: 0 270px 0 0;
}

.counters-panel_navigation_button {
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  outline: none;
  border: none;
  cursor: pointer;
  width: 150px;
  height: 25px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(6.75%, #FFFFFF), to(#DADADA)), #C4C4C4;
  background: linear-gradient(180deg, #FFFFFF 6.75%, #DADADA 100%), #C4C4C4;
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
}

.counters-panel_navigation_button:hover {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(6.75%, #FFFFFF), to(#DADADA)), #C4C4C4;
  background: linear-gradient(0deg, #FFFFFF 6.75%, #DADADA 100%), #C4C4C4;
}

.counters-panel_counters_title {
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 103.19%;
  text-align: center;
}

.counters-panel_counters_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 900px;
}

.counters-panel_counters_wrap_counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 58px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 18px 0 30px;
  margin: 0 0 20px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(6.75%, #FFFFFF), to(#DADADA)), #C4C4C4;
  background: linear-gradient(180deg, #FFFFFF 6.75%, #DADADA 100%), #C4C4C4;
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: unset;
  margin: 0;
  width: 210px;
  justify-content: space-between;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.counters-panel_counters_wrap_counter:hover {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(6.75%, #FFFFFF), to(#DADADA)), #C4C4C4;
  background: linear-gradient(0deg, #FFFFFF 6.75%, #DADADA 100%), #C4C4C4;
}

.counters-panel_counters_wrap_counter_title {
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 103.19%;
  text-align: center;
  width: 100%;
  margin: 6px 0 15px;
}

.counters-panel_counters_wrap_counter_pic {
  margin: 0 0 0 15px;
}

.counters-panel_counters_wrap_counter_phases {
  width: 100px;
}

.counters-panel_counters_wrap_counter_phases_phase {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 0 3px;
  position: relative;
}

.counters-panel_counters_wrap_counter_phases_phase:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  right: -85px;
  z-index: 1;
  background: rgba(255, 255, 230, 0.9);
  font-family: Arial, sans-serif;
  font-size: 11px;
  padding: 10px 10px;
  border: 1px solid #333;
}

.counters-panel_counters_wrap_counter_phases_phase_label {
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 103.19%;
  padding: 0 3px 0 0;
}

.counters-panel_counters_wrap_counter_phases_phase_output {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 50px;
  height: 16px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(6.75%, #FFFFFF), to(#DADADA)), #C4C4C4;
  background: linear-gradient(180deg, #FFFFFF 6.75%, #DADADA 100%), #C4C4C4;
  border-radius: 1px;
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
}

.counters-panel_counters_wrap_counter_phases-cosines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.counters-panel_counters_wrap_counter_sigmas {
  width: 100%;
}

.counters-panel_counters_wrap_counter_sigmas_sigma {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: relative;
  margin: 0 0 3px;
}

.counters-panel_counters_wrap_counter_sigmas_sigma:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  right: -85px;
  top: -10px;
  z-index: 1;
  background: rgba(255, 255, 230, 0.9);
  font-family: Arial, sans-serif;
  font-size: 11px;
  padding: 10px 10px;
  border: 1px solid #333;
}

.counters-panel_counters_wrap_counter_sigmas_sigma_label {
  padding: 0 0 0 13px;
}

.counters-panel_counters_wrap_counter_sigmas_sigma_output {
  width: 70px;
}

.counters-panel_report {
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 25px 0 0;
}

.counters-panel_report_icon {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.counters-panel_report_title {
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 103.19%;
  text-align: center;
  margin: 39px 0 30px;
}

.counters-panel_report_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 135px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 5px 0 0;
}

.counters-panel_report_form_label {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 103.19%;
  margin: 15px 0 0;
}

.counters-panel_report_form_label:nth-child(odd) {
  margin: 15px 10px 0 0;
}

.counters-panel_report_form_input {
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 103.19%;
  outline: none;
  margin: 5px 0 0;
}

.counters-panel_report_form_btn {
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  outline: none;
  border: none;
  cursor: pointer;
  width: 150px;
  height: 25px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(6.75%, #FFFFFF), to(#DADADA)), #C4C4C4;
  background: linear-gradient(180deg, #FFFFFF 6.75%, #DADADA 100%), #C4C4C4;
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
  margin: 20px 25px 0;
}

.counters-panel_report_form_btn:hover {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(6.75%, #FFFFFF), to(#DADADA)), #C4C4C4;
  background: linear-gradient(0deg, #FFFFFF 6.75%, #DADADA 100%), #C4C4C4;
}

.counters-panel_report_form_btn:nth-child(2) {
  margin: 0 auto;
}

.chart {
  margin: 17px 0 0;
  padding: 0 5px;
  height: 415px;
}

.chart_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.chart_top_left-btns-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 18px 0 0;
}

.chart_top_left-btns-wrap_btn {
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  outline: none;
  border: none;
  cursor: pointer;
  width: 150px;
  height: 25px;
  width: 15px;
  height: 15px;
  background: no-repeat;
  margin: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chart_top_left-btns-wrap_btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.chart_top_left-btns-wrap_btn:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.chart_top_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chart_top_form_label {
  margin: 0;
}

.chart_top_form_label:nth-child(odd) {
  margin: 0 10px 0 0;
}

.chart_top_status {
  margin: 13px 0 0;
}

.chart_top_finish-btn {
  margin: 13px 0 0;
}

.chart_top_right-btns-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 18px 0 0;
}

.chart_top_right-btns-wrap_btn {
  font-family: 'roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  outline: none;
  border: none;
  cursor: pointer;
  width: 150px;
  height: 25px;
  width: 15px;
  height: 15px;
  background: no-repeat;
  margin: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chart_top_right-btns-wrap_btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.chart_top_right-btns-wrap_btn:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@font-face {
  font-family: 'roboto';
  src: url("../fonts/Robotomedium.woff2") format("woff2"), url("../fonts/Robotomedium.woff") format("woff"), url("../fonts/Robotomedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url("../fonts/Robotolight.woff2") format("woff2"), url("../fonts/Robotolight.woff") format("woff"), url("../fonts/Robotolight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url("../fonts/Roboto.woff2") format("woff2"), url("../fonts/Roboto.woff") format("woff"), url("../fonts/Roboto.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}
/*# sourceMappingURL=style.css.map */